<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/innovaciones/blob/main/prop/reduccion_dim_clasificacion_regresion/0_intro_python/dia_9_first_model/dia_9_first_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/innovaciones/blob/main/prop/reduccion_dim_clasificacion_regresion/0_intro_python/dia_9_first_model/dia_9_first_model.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

# Día 9: Tu primer modelo de aprendizaje automático

[Selecting Data for Modeling](https://www.kaggle.com/dansbecker/your-first-machine-learning-model?utm_medium=email&utm_source=gamma&utm_campaign=thirty-days-of-ml&utm_content=day-9)

## Objetivo:  
* Predecir el precio de casa en el estado de Melbourne, sin dividir en datos de entrenamiento y datos de testeo.
* Predecir el precio de casa en el estado de Iowa, dividiendo en datos de entrenamiento, datos de validación y datos de testeo.

## [Video de apoyo a esta práctica](https://www.youtube.com/watch?v=PA2JJhspCKg&t=412s)

## Situación problemática (Dataset)

In [2]:
import pandas as pd 
url_iowa = 'https://raw.githubusercontent.com/marco-canas/innovaciones/main/prop/reduccion_dim_clasificacion_regresion/0_intro_python/dia_9_first_model/train.csv'
iowa_data = pd.read_csv(url_iowa)

In [4]:
iowa_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
iowa_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [6]:
iowa_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [7]:
iowa_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

## Seleccionar datos para modelar

Su conjunto de datos tenía demasiadas variables para entenderlo, o incluso para imprimirlo bien.

¿Cómo puede reducir esta abrumadora cantidad de datos a algo que pueda entender?

Comenzaremos eligiendo algunas variables usando nuestra intuición.

Los cursos posteriores le mostrarán técnicas estadísticas para priorizar automáticamente las variables.

Para elegir variables/columnas, necesitaremos ver una lista de todas las columnas del conjunto de datos.

In [8]:
import pandas as pd
url_melb = 'https://raw.githubusercontent.com/marco-canas/innovaciones/main/prop/reduccion_dim_clasificacion_regresion/0_intro_python/dia_9_first_model/melb_data.csv'
melb_data = pd.read_csv(url_melb)  
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [9]:
longitud_atributos = len(melb_data.columns) 
longitud_atributos

21

In [10]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
Suburb           13580 non-null object
Address          13580 non-null object
Rooms            13580 non-null int64
Type             13580 non-null object
Price            13580 non-null float64
Method           13580 non-null object
SellerG          13580 non-null object
Date             13580 non-null object
Distance         13580 non-null float64
Postcode         13580 non-null float64
Bedroom2         13580 non-null float64
Bathroom         13580 non-null float64
Car              13518 non-null float64
Landsize         13580 non-null float64
BuildingArea     7130 non-null float64
YearBuilt        8205 non-null float64
CouncilArea      12211 non-null object
Lattitude        13580 non-null float64
Longtitude       13580 non-null float64
Regionname       13580 non-null object
Propertycount    13580 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [11]:
melb_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [13]:
len(melb_data['Suburb'].unique())

314

Los datos de Melbourne tienen algunos valores perdidos (algunas casas para las que no se registraron algunas variables).

In [14]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
Suburb           13580 non-null object
Address          13580 non-null object
Rooms            13580 non-null int64
Type             13580 non-null object
Price            13580 non-null float64
Method           13580 non-null object
SellerG          13580 non-null object
Date             13580 non-null object
Distance         13580 non-null float64
Postcode         13580 non-null float64
Bedroom2         13580 non-null float64
Bathroom         13580 non-null float64
Car              13518 non-null float64
Landsize         13580 non-null float64
BuildingArea     7130 non-null float64
YearBuilt        8205 non-null float64
CouncilArea      12211 non-null object
Lattitude        13580 non-null float64
Longtitude       13580 non-null float64
Regionname       13580 non-null object
Propertycount    13580 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

Aprenderemos a manejar los valores perdidos en un tutorial posterior.

Sus datos de Iowa no tienen valores perdidos en las columnas que usa.

Por lo tanto, tomaremos la opción más simple por ahora y eliminaremos las casas de nuestros datos.

No se preocupe mucho por esto por ahora.

`dropna` elimina los valores faltantes (piense en `na` como "no disponible" (not available))

In [15]:
melb_data = melb_data.dropna(axis=0)

In [16]:
melb_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,6196.000000,6.196000e+03,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.068828e+06,9.751097,3101.947708,2.902034,1.576340,1.573596,471.006940,141.568645,1964.081988,-37.807904,144.990201,7435.489509
std,0.971079,6.751564e+05,5.612065,86.421604,0.970055,0.711362,0.929947,897.449881,90.834824,38.105673,0.075850,0.099165,4337.698917
min,1.000000,1.310000e+05,0.000000,3000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370,389.000000
25%,2.000000,6.200000e+05,5.900000,3044.000000,2.000000,1.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198,4383.750000
50%,3.000000,8.800000e+05,9.000000,3081.000000,3.000000,1.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800,6567.000000
75%,4.000000,1.325000e+06,12.400000,3147.000000,3.000000,2.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700,10175.000000
max,8.000000,9.000000e+06,47.400000,3977.000000,9.000000,8.000000,10.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350,21650.000000

## ¿Por qué al eliminar las filas con datos nulos, la cantidad de datos no nulos por columna quedo menor que el menor número de datos no nulos por columna original?

Si da doble clic aquí, obtendrá una respuesta
<!--
import numpy as np 
import pandas as pd
arreglo = np.array([[np.nan, 'A'], [np.nan, 'B'], [1, np.nan], [2,np.nan], [3, np.nan]])
indices = ['a', 'b','c','d','e']
columnas = ['col_1','col_2']
dataframe = pd.DataFrame(arreglo, index = indices, columns = columnas)
dataframe = dataframe.dropna(axis = 0)   
dataframe 
-->

In [41]:
import numpy as np 
import pandas as pd
indices = range(1,5) 
columnas = ['col_1','col_2']
df = pd.DataFrame( index = indices, columns = columnas)
df = dataframe.dropna(axis = 0)   
df['col_1'] = [1,2, np.nan]   
df['col_2'] = [np.nan,2, np.nan]

C:\Users\Usuario\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Usuario\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## Selección de los subconjuntos de datos `X` y `y`

Hay muchas formas de seleccionar un subconjunto de sus datos.

El curso Pandas los cubre con más profundidad, pero nos centraremos en dos enfoques por ahora.

1. Notación de puntos, que usamos para seleccionar el "objetivo de predicción"
2. Seleccionar con una lista de columnas, que usamos para seleccionar las "características"

## Selección del objetivo de predicción

Puede extraer una variable con notación de puntos.

Esta única columna se almacena en una serie, que en general es como un DataFrame con una única columna de datos.

Usaremos la notación de puntos para seleccionar la columna que queremos predecir, que se llama objetivo de predicción.

Por convención, el objetivo de predicción se llama $y$.

Entonces, el código que necesitamos para guardar los precios de la vivienda en los datos de Melbourne es

In [19]:
y = melb_data.Price
type(y)

pandas.core.series.Series

## Elegir "atributos"

Las columnas que se ingresan en nuestro modelo (y luego se usan para hacer predicciones) se llaman "características".

En nuestro caso, esas serían las columnas utilizadas para determinar el precio de la vivienda.

A veces, utilizará todas las columnas excepto la columna objetivo como características.

Otras veces, estará mejor con menos funciones.

Por ahora, crearemos un modelo con solo algunas características.

Más adelante verá cómo iterar y comparar modelos creados con diferentes características.

Seleccionamos múltiples características proporcionando una lista de nombres de columnas entre corchetes.

Cada elemento de esa lista debe ser una cadena (con comillas).

Aquí hay un ejemplo:

In [20]:
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [21]:
melb_features = ['Suburb', 'Rooms', 'Bathroom', 'Landsize', 'Lattitude',
                 'Longtitude', 'Bedroom2', 'BuildingArea' ]

Por convención, estos datos se denominan `X`.

In [22]:
X = melb_data[melb_features]

Repasemos rápidamente los datos que usaremos para predecir los precios de la vivienda utilizando el método `describe` y el método `head`, que muestra las primeras filas.

In [25]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6196 entries, 1 to 12212
Data columns (total 8 columns):
Suburb          6196 non-null object
Rooms           6196 non-null int64
Bathroom        6196 non-null float64
Landsize        6196 non-null float64
Lattitude       6196 non-null float64
Longtitude      6196 non-null float64
Bedroom2        6196 non-null float64
BuildingArea    6196 non-null float64
dtypes: float64(6), int64(1), object(1)
memory usage: 595.7+ KB

In [26]:
X.head()

,Suburb,Rooms,Bathroom,Landsize,Lattitude,Longtitude,Bedroom2,BuildingArea
1,Abbotsford,2,1.0,156.0,-37.8079,144.9934,2.0,79.0
2,Abbotsford,3,2.0,134.0,-37.8093,144.9944,3.0,150.0
4,Abbotsford,4,1.0,120.0,-37.8072,144.9941,3.0,142.0
6,Abbotsford,3,2.0,245.0,-37.8024,144.9993,4.0,210.0
7,Abbotsford,2,1.0,256.0,-37.8060,144.9954,2.0,107.0

La verificación visual de sus datos con estos comandos es una parte importante del trabajo de un científico de datos.

## Construyendo su modelo

Utilizará la biblioteca scikit-learn para crear sus modelos.

Al codificar, esta biblioteca se escribe como sklearn, como verá en el código de muestra.

Scikit-learn es fácilmente la biblioteca más popular para modelar los tipos de datos que normalmente se almacenan en DataFrames.

Los pasos para construir y usar un modelo son:

* Definir: ¿Qué tipo de modelo será? ¿Un árbol de decisiones? ¿Algún otro tipo de modelo?   
  También se especifican algunos otros parámetros del tipo de modelo.  
* Ajustar: captura patrones a partir de los datos proporcionados. Este es el corazón del modelaje.  
* Predecir: cómo suena  
* Evaluar: determina qué tan precisas son las predicciones del modelo.

A continuación, se muestra un ejemplo de cómo definir un modelo de árbol de decisión con scikit-learn y ajustarlo con las características y la variable de destino.

In [ ]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X, y)

Muchos modelos de aprendizaje automático permiten cierta aleatoriedad en el entrenamiento de modelos.

Especificar un número para `random_state` asegura que obtendrá los mismos resultados en cada ejecución.

Esto se considera una buena práctica.

Utiliza cualquier número, y la calidad del modelo no dependerá significativamente del valor exacto que elija.

Ahora tenemos un modelo ajustado que podemos usar para hacer predicciones.

En la práctica, querrá hacer predicciones para las casas nuevas que saldrán al mercado en lugar de las casas para las que ya tenemos precios.

Pero haremos predicciones para las primeras filas de los datos de entrenamiento para ver cómo funciona la función de predicción.

In [ ]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

## Tu turno

Pruébelo usted mismo en el [ejercicio de construcción de modelos](https://www.kaggle.com/marcocanas/exercise-your-first-machine-learning-model/edit)

## Ejercicio: su primer modelo de aprendizaje automático

### Resumen

Hasta ahora, ha cargado sus datos y los ha revisado con el siguiente código.

Ejecute esta celda para configurar su entorno de codificación donde lo dejó el paso anterior.

In [ ]:
# Code you have previously used to load data
import pandas as pd

# Path of the file to read
#iowa_file_path = '../input/home-data-for-ml-course/train.csv'
iowa_file_path = 'train.csv' 
home_data = pd.read_csv(iowa_file_path)

# Set up code checking
#from learntools.core import binder
#binder.bind(globals())
#from learntools.machine_learning.ex3 import *

print("Setup Complete")

## Ejercicios
### Paso 1: Especifique el objetivo de la predicción

Seleccione la variable objetivo, que corresponde al precio de venta.

Guarde esto en una nueva variable llamada `y`.

Deberá imprimir una lista de las columnas para encontrar el nombre de la columna que necesita.

In [ ]:
home_data.columns

In [ ]:
home_data.keys()

In [ ]:
y = home_data.SalePrice