In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing CSV files

In [2]:
train = pd.read_csv('train.csv', index_col = 0) 
train.head(2)

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
id,,,,,,,,,,,,,,,,,,,,,
1,B,B,B,C,B,B,A,E,C,N,...,0.400361,0.160266,0.310921,0.389470,0.267559,0.237281,0.377873,0.322401,0.869850,8.113634
2,B,B,A,A,B,D,A,F,A,O,...,0.533087,0.558922,0.516294,0.594928,0.341439,0.906013,0.921701,0.261975,0.465083,8.481233

In [3]:
test = pd.read_csv('test.csv', index_col = 0)
test.head(2)

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
id,,,,,,,,,,,,,,,,,,,,,
0,B,B,B,C,B,B,A,E,E,I,...,0.476739,0.376350,0.337884,0.321832,0.445212,0.290258,0.244476,0.087914,0.301831,0.845702
5,A,B,A,C,B,C,A,E,C,H,...,0.285509,0.860046,0.798712,0.835961,0.391657,0.288276,0.549568,0.905097,0.850684,0.693940

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300000 entries, 1 to 499999
Data columns (total 25 columns):
cat0      300000 non-null object
cat1      300000 non-null object
cat2      300000 non-null object
cat3      300000 non-null object
cat4      300000 non-null object
cat5      300000 non-null object
cat6      300000 non-null object
cat7      300000 non-null object
cat8      300000 non-null object
cat9      300000 non-null object
cont0     300000 non-null float64
cont1     300000 non-null float64
cont2     300000 non-null float64
cont3     300000 non-null float64
cont4     300000 non-null float64
cont5     300000 non-null float64
cont6     300000 non-null float64
cont7     300000 non-null float64
cont8     300000 non-null float64
cont9     300000 non-null float64
cont10    300000 non-null float64
cont11    300000 non-null float64
cont12    300000 non-null float64
cont13    300000 non-null float64
target    300000 non-null float64
dtypes: float64(15), object(10)
memory usage: 59.5+ MB

In [6]:
y = train['target']
X = train.drop(['target'],axis = 1)
y.head()

id
1    8.113634
2    8.481233
3    8.364351
4    8.049253
6    7.972260
Name: target, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split
X_train_0,X_val_0,y_train_0,y_val_0 = train_test_split(X,y, random_state = 0)

## Tratamiento de los datos categóricos ordinales

In [8]:
from sklearn.preprocessing import OrdinalEncoder

In [9]:
codificar = OrdinalEncoder() # instanciar la clase

In [10]:
# List of categorical columns
nombres_cols_cat = [col for col in X.columns if 'cat' in col]
nombres_cols_cat

['cat0',
 'cat1',
 'cat2',
 'cat3',
 'cat4',
 'cat5',
 'cat6',
 'cat7',
 'cat8',
 'cat9']

In [11]:
X_train = X_train_0.copy()
X_val = X_val_0.copy()
X_test = test.copy()  
y_train = y_train_0.copy()
y_val = y_val_0.copy()

In [12]:
X_train[nombres_cols_cat] = codificar.fit_transform(X_train[nombres_cols_cat])
X_val[nombres_cols_cat] = codificar.fit_transform(X_val[nombres_cols_cat])
X_test[nombres_cols_cat] = codificar.fit_transform(X_test[nombres_cols_cat])

In [13]:
X_train.head()

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
id,,,,,,,,,,,,,,,,,,,,,
412957,0.0,0.0,0.0,2.0,1.0,2.0,0.0,3.0,6.0,7.0,...,0.284988,0.777432,0.391158,0.575325,0.449008,0.808493,0.638874,0.620083,0.860327,0.796654
282449,0.0,0.0,0.0,2.0,1.0,1.0,0.0,4.0,4.0,8.0,...,0.979303,0.388542,0.392169,0.251943,0.257683,0.289205,0.753284,0.108515,0.223745,0.867225
164867,0.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0,5.0,14.0,...,0.528495,0.877585,0.692778,0.394110,0.372842,0.603872,0.729337,0.572204,0.381617,0.528454
541,0.0,1.0,0.0,2.0,1.0,1.0,0.0,4.0,4.0,6.0,...,0.795973,0.254421,0.279979,0.244269,0.549558,0.318729,0.093974,0.428488,0.176486,0.250280
80790,1.0,1.0,0.0,2.0,1.0,3.0,0.0,4.0,0.0,8.0,...,0.809695,0.412479,0.345747,0.537579,1.023082,0.433388,0.814753,0.655539,0.923203,0.467355

In [14]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error

In [15]:
def obtener_mae(num, X_train, X_val, y_train, y_val):
    model = XGBRegressor(n_estimators = num, random_state = 0)
    model.fit(X_train, y_train)
    predict = model.predict(X_val)
    mae = mean_absolute_error(y_val,predict)
    return mae

In [17]:
num_estimaciones = []
mae_list = []
for num in [10,50,100]:
    my_mae = obtener_mae(num, X_train, X_val, y_train, y_val)
    num_estimaciones.append(num) 
    mae_list.append(my_mae)

In [18]:
    
comparacion = np.array(list(zip(num_estimaciones, mae_list)))

In [19]:
comparacion

array([[ 10.        ,   0.59990277],
       [ 50.        ,   0.57718767],
       [100.        ,   0.57746085]])

In [ ]:
#menor_mae = min(comparacion[:,1])
#indice_menor_mae = comparacion.index(menor_mae)
#n_estimators_best = comparación[indice_menor_mae,1]

In [20]:
model_best = XGBRegressor(n_estimators = 50, random_state = 0)
model_best.fit(X_train,y_train)
predict = model_best.predict(X_test)

In [21]:
output = pd.DataFrame({'id':X_test.index, 'target': predict}) 
output.to_csv('my_submission_marco_canas_25.csv', index = False)

In [23]:
pd.read_csv('my_submission_marco_canas_25.csv', index_col=0)

          target
id
0       7.912571
5       8.294342
15      8.309871
16      8.384685
17      8.123418
...          ...
499987  8.193858
499990  8.445131
499991  8.353048
499994  8.025500
499995  7.954370

[200000 rows x 1 columns]