# 2.1 Valores y tipos
Página 37 de Allen Downey

In [2]:
type(3)  # Tipo entero o integer

int

In [5]:
type("Docente")   # Tipo cadena o tipo string

str

In [7]:
print('Hola mundo')

Hola mundo

No es sorprendente que las cadenas sean de tipo string (cadena en inglés) y los enteros sean de tipo `int` (por integer en inglés).

De forma menos obvia, los números con decimales (separados por medio de un punto en inglés) son de tipo float debido a la representación de estos números en el formato llamado de coma flotante (floating-point).

¿Qué ocurre con los valores como "17" y "3.2"? Parecen n¶umeros, pero están entre comillas como las cadenas.

In [9]:
type(3.2)  # Tercer tipo de valor en Python

float

In [10]:
True  # Cuarto tipo de valores en Python: Tipo Booleanos

True

In [11]:
type(True)

bool

In [12]:
type(False)

bool

In [15]:
x = "17"

In [16]:
type(x)

str

In [19]:
x = int(x)

In [20]:
x

17

In [21]:
type(x)

int

In [14]:
type("3.2")

str

Son cadenas.

Cuando escriba un entero largo, podrá estar tentado de usar comas entre grupos de tres dígitos, como en 1,000,000.

Éste no es un entero legal en Python, pero es una expresión legal:

In [23]:
print(1000000)

1000000

En fin, no era eso lo que queríamos.

Python interpreta 1,000,000 como una lista de tres números que debe imprimir.

Así que recuerde no insertar comas en sus enteros.