# [7 Types of Classification using python](https://bobrupakroy.medium.com/7-types-of-classification-using-python-c107b1dbeb1)

Full guide to 

* knn, 
* logistic, 
* support vector machine, 
* kernel svm, 
* naive bayes, 
* decision tree classification, 
* random forest classification.

<img src = 'https://miro.medium.com/max/2880/1*XFr45Oc5g76GW4w4xiHSOQ.jpeg'>

Hoy vamos a entender y realizar todo tipo de clasificación y también vamos a comparar cada rendimiento para su predicción precisa.

Comencemos, usaremos los datos demográficos para comprender y predecir si el cliente se suscribirá a un depósito a plazo.

This dataset is public available for research. The details are described in [Moro et al., 2011]. [Moro et al., 2011] S. Moro, R. Laureano and P. Cortez. Using Data Mining for Bank Direct Marketing: An Application of the CRISP-DM Methodology.
In P. Novais et al. (Eds.), Proceedings of the European Simulation and Modelling Conference — ESM’2011, pp. 117–121, Guimarães, Portugal, October, 2011. EUROSIS.

Los datos están relacionados con campañas de marketing directo de una institución bancaria portuguesa.
Las campañas de marketing se basaron en llamadas telefónicas. A menudo, se requería más de
un contacto con el mismo cliente, para poder acceder si el producto (depósito a plazo bancario) estaría (o no) suscrito.
Los propietarios originales
del conjunto de datos:Creado por: Paulo Cortez (Univ. Minho) y Sérgio Moro (ISCTE-IUL) @ 2012

Y contiene atributos:
* ID de cliente, (Client ID), 
* ingresos, (Income)
* edad, (Age)
* préstamo (Loan), 
* incumplimiento (Default)

In [27]:
import pandas as pd 
url = 'https://raw.githubusercontent.com/marco-canas/taca/main/datasets/bank/train.csv'
df = pd.read_csv(url, sep=';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

Ojo, con el parámetro `sep` de la función `pd.read_csv()`

Comencemos con nuestros métodos de clasificación de uso común:  

1. Logistic Regression then we will use
2. Knn
3. Support Vector Machine
4. Kernel SVM
5. Naive Bayes
6. Decision Tree Classification
7. Random Forest Classification

In [32]:
#Logistic Regression
#Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#Importing the dataset
dataset = pd.read_csv(url, sep=";")
#drop the missing values
dataset = dataset.dropna()
X = dataset.iloc[:,0:16].values
y = dataset.iloc[:, 16].values

Bueno, hasta aquí es lo mismo que antes, cargue los datos y luego divida los datos en X e Y donde Y es la variable dependiente / destino 4ª columna (columna de morosos) y el resto de 0 a 3 son variables independientes X.

Nota: Los índices de posición en python para las columnas comienzan desde 0 y no desde 1.

Luego dividiremos los datos en conjuntos de datos de tren y prueba, después transformaremos todos los valores de columna en un valor / rango estándar que reducirá la propagación, la magnitud de los puntos de datos sin perder el significado original de los datos. ¡FRESCO!
Esto ayuda al algoritmo a calcular los datos de manera más rápida y eficiente.

## Referentes  

 * El dataset asociados lo encuentras en: https://www.kaggle.com/psvishnu/bank-direct-marketing