<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/Ecuaciones_Diferenciales/blob/main/asesoria_EDO/ejer_sec_3.1/Ejer_22_sec_3.1_Boyce_DiPrima.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/Ecuaciones_Diferenciales/blob/main/asesoria_EDO/ejer_sec_3.1/Ejer_22_sec_3.1_Boyce_DiPrima.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

# Día 11: Machine Learning Competitions

[Machine Learning Competitions](https://www.kaggle.com/alexisbcook/machine-learning-competitions?utm_medium=email&utm_source=gamma&utm_campaign=thirty-days-of-ml&utm_content=day-11)

Los concursos de aprendizaje automático son una excelente manera de mejorar sus habilidades en ciencia de datos y medir su progreso.

## Objetivos:

En el siguiente ejercicio, creará y enviará predicciones para [el Concurso de precios de la vivienda para usuarios de Kaggle Learn](https://www.kaggle.com/c/home-data-for-ml-course).

<img src='https://i.imgur.com/axBzctl.png' />

De doble clic para ver la respuesta 
<!-- 
def funcion_solucion():
    return satida 
-->

## Tu turno

¡Usa lo que has aprendido en el curso para [crear un envío](https://www.kaggle.com/marcocanas/exercise-machine-learning-competitions/edit) a una competencia de Kaggle!

## Introducción

En este ejercicio, creará y enviará predicciones para una competencia de Kaggle.

Luego, puede mejorar su modelo (por ejemplo, agregando atributos (features)) para aplicar lo que ha aprendido y ascender en la tabla de clasificación.

Comience ejecutando la celda de código a continuación para configurar la verificación de código y las rutas de archivo para el conjunto de datos.

A continuación, se muestra parte del código que ha escrito hasta ahora.

Empiece por ejecutarlo de nuevo.

In [1]:
# Import helpful libraries
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [3]:
# Load the data, and separate the target
iowa_file_path = 'train.csv'
home_data = pd.read_csv(iowa_file_path)
y = home_data.SalePrice

In [10]:
# Create X (After completing the exercise, you can return to modify this line!)
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 
            'BedroomAbvGr', 'TotRmsAbvGrd']

# Select columns corresponding to features, and preview the data
X = home_data[features]
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [5]:
# Split into validation and training data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

# Define a random forest model
rf_model = RandomForestRegressor(random_state=1)
rf_model.fit(train_X, train_y)
rf_val_predictions = rf_model.predict(val_X)
rf_val_mae = mean_absolute_error(rf_val_predictions, val_y)

print("Validation MAE for Random Forest Model: {:,.0f}".format(rf_val_mae))

Validation MAE for Random Forest Model: 21,857

## Entrena un modelo para la competencia

La celda de código anterior entrena un modelo de bosque aleatorio en `train _X` y `train_ y`.

Use la celda de código a continuación para construir un modelo de Bosque aleatorio (`Random Forest`) y entrenarlo en todo `X` e `y`.

Para mejorar la precisión, cree un nuevo modelo de bosque aleatorio que entrenará con todos los datos de entrenamiento

In [7]:
# defina random Forest model 
rf_model_on_full_data = RandomForestRegressor(random_state=48)
rf_model_on_full_data.fit(X,y)
rf_full_data_predictions = rf_model_on_full_data.predict(X) 
rf_full_data_val_mae = mean_absolute_error(rf_full_data_predictions,y) 
# fit rf_model_on_full_data on all data from the training data
print('''El error absoluto medio con todos los datos \n 
      para el modelo de bosque aleatorio es {:,.0f}'''.format(rf_full_data_val_mae))

El error absoluto medio con todos los datos

      para el modelo de bosque aleatorio es 8,319

Ahora, lea el archivo de datos `test` (de "prueba") y aplique su modelo para hacer predicciones.

In [8]:
# path to file you will use for predictions
test_data_path = 'test.csv'

# read test data file using pandas
test_data = pd.read_csv('test.csv')

In [9]:
test_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

cree `test_X` que proviene de `test_data` pero incluye solo las columnas que usó para la predicción.

La lista de columnas se almacena en una variable llamada características.

In [12]:
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 
            'BedroomAbvGr', 'TotRmsAbvGrd']
test_X = test_data[features]

hacer predicciones que enviaremos.

In [ ]:
test_preds = rf_model_on_full_data.predict(test_X)

Antes de enviar, ejecute una verificación para asegurarse de que sus `test_preds` tengan el formato correcto.