# USA covic data

[usa_covic_data](https://www.kaggle.com/anandhuh/usa-statewise-latest-covid19-data?campaign=357830d2-6df6-4109-910a-64f37be0813a)

## About this file

.csv file containing statewise Covid-19 data of USA.

Archivo .csv que contiene datos estatales de Covid-19 de EE. UU.

Columns include 
* state 
* Total Cases, 
* Total Deaths,
* Total Recovered, 
* Active Cases, 
* Total Cases per 1 million population, 
* Death per 1 million population, 
* Total Cases, 
* Tests per 1 million population and 
* Population

Las columnas incluyen Total de casos, Total de muertes, Total recuperado, Casos activos, Total de casos por 1 mill贸n de habitantes, Muerte por 1 mill贸n de habitantes, Total de casos, Pruebas por 1 mill贸n de habitantes y Poblaci贸n

In [1]:
import numpy as np 
import pandas as pd

In [4]:
df = pd.read_csv('USA Covid Data.csv') 
df.head()

,State,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Cases/1 mil population,Death/1 mil population,Total Cases.1,Tests/1 mil population,Population
0,California,"3,803,789","63,190","2,065,555","1,675,044","96,269","1,599","67,789,152","1,715,650","39,512,223"
1,Texas,"2,979,334","52,169","2,871,132","56,033","102,750","1,799","31,072,035","1,071,602","28,995,881"
2,Florida,"2,346,153","37,265","2,009,593","299,295","109,237","1,735","30,196,902","1,405,963","21,477,737"
3,New York,"2,163,931","53,876","1,822,940","287,115","111,236","2,769","57,462,737","2,953,842","19,453,561"
4,Illinois,"1,387,760","25,490","1,332,924","29,346","109,515","2,012","25,185,883","1,987,550","12,671,821"

In [ ]:
df.shape