# Didáctica del Procesamiento de datos

[covic cases worldwide](https://www.kaggle.com/tanushagupta/covidcasesworldwide?campaign=357830d2-6df6-4109-910a-64f37be0813a&select=google.csv)

## Contexto

La pandemia de COVID-19 ha provocado una dramática pérdida de vidas humanas en todo el mundo y presenta un desafío sin precedentes para la salud pública, los sistemas alimentarios y el mundo del trabajo. La perturbación económica y social causada por la pandemia es devastadora: decenas de millones de personas corren el riesgo de caer en la pobreza extrema, mientras que el número de personas desnutridas, que actualmente se estima en casi 690 millones, podría aumentar hasta 132 millones para el final del año.

### Contenido

El conjunto de datos contiene el número de casos notificados, casos recuperados y casos de muertes para países de todo el mundo. No solo tiene casos totales, sino los casos reportados hoy (09-junio-2021).

In [3]:
import numpy as np 
import pandas as pd 
df = pd.read_csv('google.csv') 
df

,Country,Cases(words),Cases(num),Cases(today),Recovered,Death(word),Death(num),Death(today)
0,United States,3.34Cr,"3,34,00,000","15,110",-,5.98L,"5,98,000",373
1,India,2.91Cr,"2,91,00,000","92,596",3.54L,2.75Cr,"2,75,00,000","+1,63,000"
2,Brazil,1.7Cr,"1,70,00,000","52,911",4.77L,1.51Cr,"1,51,00,000","35,950"
3,France,57.2L,"57,20,000","6,018",-,1.1L,"1,10,000",46
4,Turkey,53L,"53,00,000","6,559","48,341",51.7L,"51,70,000",86
...,...,...,...,...,...,...,...,...
214,Saint Pierre and Miquelon,25,25,NaN,-,25,25,NaN
215,Montserrat,20,20,NaN,1,19,19,NaN
216,Western Sahara,10,10,NaN,NaN,1,8,NaN
217,Cook Islands,1,1,NaN,-,-,NaN,NaN
218,Turkmenistan,-,NaN,NaN,-,-,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 8 columns):
Country         219 non-null object
Cases(words)    219 non-null object
Cases(num)      218 non-null object
Cases(today)    159 non-null object
Recovered       216 non-null object
Death(word)     219 non-null object
Death(num)      216 non-null object
Death(today)    145 non-null object
dtypes: object(8)
memory usage: 13.8+ KB