<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/taca/blob/main/ref/geron/chap_2/4_visualize/2_correlations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/taca/blob/main/ref/geron/chap_2/4_visualize/2_correlations.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

# [Data Visualisation using Pandas and Plotly](https://pub.towardsai.net/data-visualisation-using-pandas-and-plotly-970df88fba6f)

## [Video de apoyo]()

Imaginemos que está tratando de convencer a un cliente para que invierta en su empresa.

Usted exhibe todos los registros del empleado y sus logros en forma de una hoja de Excel en lugar de un gráfico de barras o un gráfico circular.

Imagínate en el lugar del cliente.

¿Cómo reaccionarías entonces?

(¿No serían demasiados datos tan abrumadores?). Aquí es donde la visualización de datos entra en escena.

La visualización de datos es la práctica de traducir datos en bruto en gráficos y gráficos visuales para facilitar la interpretación del cerebro humano.

El objetivo principal es hacer que la investigación y el análisis de datos sean más rápidos y también comunicar las tendencias y los patrones de manera efectiva.

**El cerebro humano está programado para comprender datos visualmente atractivos mejor que los textos largos y sin formato.**

En este artículo, tomemos un conjunto de datos, limpiemos los datos según el requisito e intentemos visualizar los datos. El conjunto de datos se toma de Kaggle. Puedes encontrarlo [aquí](https://www.kaggle.com/sudalairajkumar/covid19-in-india?select=covid_vaccine_statewise.csv).

En primer lugar, para cargar los datos de fuentes externas y limpiarlos, utilizaremos la biblioteca de Pandas.

Necesitamos importar la biblioteca de Pandas para poder usarla. Podemos importarlo usando:

In [1]:
import pandas as pd

In [4]:
df_india = pd.read_csv('C:/Users/Usuario/Desktop/taca/datasets/covid_19_india/covid_19_india.csv')

In [5]:
df_india.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [6]:
df_india.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18110 entries, 0 to 18109
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       18110 non-null  int64
 1   Date                      18110 non-null  object
 2   Time                      18110 non-null  object
 3   State/UnionTerritory      18110 non-null  object
 4   ConfirmedIndianNational   18110 non-null  object
 5   ConfirmedForeignNational  18110 non-null  object
 6   Cured                     18110 non-null  int64
 7   Deaths                    18110 non-null  int64
 8   Confirmed                 18110 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.2+ MB